body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#drumbox {
  border: 1px solid black;
  width: 70vw;
  height: auto;

}
.key-container {
  border: 1px solid;
  display: inline-grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 7px;

}

.drum-pad {
  border: 1px solid;
  
  display: grid;
  place-items: center;
  /* grid-template-columns: 100%; */
  /* grid-template-rows: auto; */
  
}
.container {
  padding: 20px;
  border: 1px solid red;
}
#display {
  border: 1px solid blue;
}
.drum-pad {
  background-color: lightblue;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 3px #999
}

.drum-pad:active {
  background-color: #3e8e41;
  box-shadow: 0px 3px 3px #666;
  transform: translate(3px, 3px);
  
}